.app-message {
    position: fixed;
    top: 8%;
    right: 1%;
    width: 350px;
    height: 66px;
    border-radius: 20px;
    color: white;
    text-align: center;
    font-family: 'Passion One', cursive;
    font-size: 1.5rem;
    border: 1px solid white;
    color: black;
    -webkit-animation: scale-up-center 0.4s ease-in both;
    animation: scale-up-center 0.4s ease-in both;
}

.app-message h3 {
    margin: 10px;
    padding: 10px;
}

.app-message::after{
    content: '';
    width: 20px;
    height: 20px;
    background-color: #ffb134;
    position: absolute;
    top: 80%;
    transform: rotate(45deg);
    right: 20%;
}
.app-message.bad-msg::after{
    background-color:#c5c5c5;
}
.good-msg{
  background-color: #ffb134;
}

.bad-msg{
    background-color:#c5c5c5;
}

/* msg animation */
@-webkit-keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }