* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}
button{
    cursor: pointer;
}
.button, input, select {
    cursor: pointer;
}
a{
    text-decoration: none;
    color:black;
}

#app{
    height: 100vh;
    width: 100vh;
    position: relative;;
}

main .main-page{
    min-height:88vh ;
}

  /* The container */
.check-container {
    display: inline;
    position: relative;
    padding-right: 20px;
    cursor: pointer;
    user-select: none;
}
  /* Hide the browser's default checkbox */
.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
  /* Create a custom checkbox */
.checkmark {
    border: 1.5px solid rgb(0, 0, 0);
    border-radius: 2px;
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
}
  /* On mouse-over, add a grey background color */
.check-container:hover input ~ .checkmark {
    background-color: #fa9c00;
}
  
  /* When the checkbox is checked, add a blue background */
.check-container input:checked ~ .checkmark {
    background-color: #fa9c00;
}
  /* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  /* Show the checkmark when checked */
.check-container input:checked ~ .checkmark:after {
    display: block;
}
  /* Style the checkmark/indicator */
.check-container .checkmark:after {
    left: 4px;
    top: 0px;
    width: 4px;
    height: 9px;
    border: solid rgb(255, 255, 255);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

