*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}

.button,input,select{
    cursor: pointer;
}

#app{
   display: flex;
   flex-direction: column;
   justify-items: space-between;
}