@font-face {
    font-family: roboto;
    src: url('../font/Roboto/Roboto-Regular.ttf');
}
@font-face {
    font-family: roboto;
    src: url('../font/Roboto/Roboto-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: lato;
    src: url('../font/lato/Lato-Regular.ttf');
}

@font-face {
    font-family: lato;
    src: url('../font/lato/Lato-Bold.ttf');
    font-weight: bold;
}
