.email-filter{
    max-width: 980px;
    margin:10px auto;
}
.email-filter input{
    height: 40px;
    border-radius: 5px;
    margin-inline-end: 5px;
    padding: 5px;
    font-size: 1rem;
    border:1.5px solid black;
    font-family: roboto, cursive;
    border:none;
    box-shadow: 1px 1px white;
    background-color: ghostwhite;

}
.email-filter select{
    max-width: 100px;
    height: 40px;
    border-radius: 5px;
    padding: 5px;
    font-size: 1rem;
    border:1.5px solid black;
    border:none;
    box-shadow: 1px 1px white;
    background-color: ghostwhite;

}

