.preview-opt{
}
.email-preview{
    cursor: pointer;
    border-top: 1px solid rgb(180, 180, 180);
    padding: 5px 0;
    font-size: 1.1rem;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto 1fr 5fr auto;
    grid-auto-rows: 1fr;
    grid-template-areas:
    "opt from subj body body date";
    transition: 0.1s
}
.email-preview:hover{
    background-color: rgba(255, 182, 37, 0.24);
    border-color: #faa500;
}
.email-preview:hover .email-preview>*{
    border-color: #faa500;
}
.preview-link{
    text-decoration: none;
    color: inherit;
}
.preview-opt{
    grid-area: opt;
}
.from-prev{
    grid-area: from;
}
.subject-prev{
    grid-area: subj;
}
.body-prev{
    grid-area: body;
    color: rgb(54, 54, 54);
}
.date-prev{
    grid-area: date;
}
.bold{
    font-weight: bold;
}