.side-bar{
}
.side-link{
    font-size: 1.3rem;
    padding-bottom: 10px;
    padding-right: 20px;
    display:grid;
    grid-gap: 0.5rem;
    grid-template-columns: 2rem 1fr;
    font-family: 'Passion One', cursive;
    /* transition: 0.5s */
}
.link-icon{
    text-align: center;
}
.side-link:hover{
    font-size: 1.35rem;
    color: #faa500;
}