.list-tools{
    font-size: 1rem;
    padding: 5px 10px;
    border-top: 1px solid rgb(180, 180, 180);
    border-left: 1px solid rgb(180, 180, 180);
    border-right: 1px solid rgb(180, 180, 180);
}
.list-tools >* :not(span){
    cursor: pointer;
    margin-right: 10px;
}
.list-tools:hover{
    background-color: #fa9a004f;
    border-color: #fa9c00;
    
}
.list-tools >* :hover{
    transform: scale(1.15,1.15);
}