@import '../cmps/note-item.cmp.css';
@import '../cmps/note-img.cmp.css';
@import '../cmps/note-editbar.cmp.css';

.notes-app .cmp-container{
    max-width: 1200px;
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(240px,250px));
    grid-template-rows: 200px;
    grid-auto-rows:200px;
    grid-gap:10px;
    justify-content: space-around;
}