@import '../cmps/note-item.cmp.css';
@import '../cmps/note-video.cmp.css';
@import '../cmps/note-img.cmp.css';
@import '../cmps/note-editbar.cmp.css';
.notes-app .cmp-container {
    max-width: 980px;
    height: max-content;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 0.5fr));
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    grid-gap: 8px;
    /* justify-content: space-around; */
}