.video-area iframe{
    display: block;
    height: 300px;
    width: 400px;
}

.video-area textarea {
    max-height:200px ;
    width: 100%;
    margin:5px auto;
    outline: none;
    border: none;
    resize: none;
    background-color: white;
    font-family: 'Pangolin', cursive;
    font-size: 1rem;
}