.note-add {
    max-width: 980px;
    margin: 10px auto;
    position: relative;
    font-family: lato,Arial,sans-serif;
}

.note-add form {
    border-radius: 20px;
    border: 1px solid #e0e0e0;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
}

.note-add input {
    width: 500px;
    height: 40px;
    border-radius: 20px;
    margin-inline-end: 5px;
    padding: 5px;
    font-size: 1rem;
    /* font-family: 'Pangolin', cursive; */
    font-family: lato,Arial,sans-serif;
    border: none;
    background-color: transparent;
    outline: none;
}

.note-add form .note-title {
    font-size: 1.125rem;
}

.note-add .close-btn {
    width: 80px;
    min-width: 40px;
    height: 40px;
    border-radius: 5px;
    padding: 5px;
    font-size: 1rem;
    border: none;
    background-color: transparent;
    font-family: lato,Arial,sans-serif;
    margin-top: 12px;
    transition: all .3s;
}

.note-add .close-btn:hover {
    cursor: pointer;
    background-color: darkgrey;
}

.note-add .cmp-options>* {
    margin: 15px;
    font-size: 1rem;
}

.note-add .cmp-options li>* {
    font-size: 1rem;
    transition: all .3s;
    cursor: pointer;
    position: relative;
}

.note-add .cmp-options li>*:hover {
    transform: scale(1.1);
}

.note-add .cmp-options {
    padding: 10px;
    align-self: flex-start;
    margin-right: 25px;
}

.selected {
    background-color: rgb(238, 238, 77);
    border-radius: 50%;
}

.fas.fa-camera-retro::before {
    padding: 10px;
    border-radius: 50%;
    background-color: darkgray;
    transition: all .3s;
}

.fas.fa-font::before {
    padding: 10px;
    border-radius: 50%;
    background-color: darkgray;
    transition: all .3s;
}

.fas.fa-volume-up::before {
    padding: 10px;
    border-radius: 50%;
    background-color: darkgray;
    transition: all .3s;
}

.fas.fa-list::before {
    padding: 10px;
    border-radius: 50%;
    background-color: darkgray;
    transition: all .3s;
}

.fab.fa-youtube::before {
    padding: 10px;
    border-radius: 50%;
    background-color: darkgray;
    transition: all .3s;
}

.fas.fa-camera-retro:hover::before {
    background-color: rgb(238, 238, 77);
}

.fas.fa-font:hover::before {
    background-color: rgb(238, 238, 77);
}

.fas.fa-volume-up:hover::before {
    background-color: rgb(238, 238, 77);
}

.fas.fa-list:hover::before {
    background-color: rgb(238, 238, 77);
}

.fab.fa-youtube:hover::before {
    background-color: rgb(238, 238, 77);
}

.selected .fas.fa-camera-retro::before {
    background-color: rgb(231, 150, 28);
}

.selected .fas.fa-font::before {
    background-color: rgb(231, 150, 28);
}

.selected .fas.fa-volume-up::before {
    background-color: rgb(231, 150, 28);
}

.selected .fas.fa-list::before {
    background-color: rgb(231, 150, 28);
}

.selected .fab.fa-youtube::before {
    background-color: rgb(231, 150, 28);
}

@media (max-width:480px) {
    .note-add input {
        width: 325px;
    }
    .note-add form {
        max-width: 335px;
    }
    .note-add .cmp-options>* {
        margin: 5px;
        font-size: 1rem;
    }
    .note-add .close-btn {
        padding-top: 10px;
        margin-top: 0;
        padding-right: 45px;
    }
}