.edit-bar {
    margin-top: 5px;
    padding: 5px;
}

.edit-bar>* {
    margin-inline-start: 10px;
}

.edit-bar input {
    -webkit-appearance: none;
    outline: none;
    border: none;
    width: 0em;
    height: 0em;
    cursor: pointer;
    background-color: transparent;
}

.edit-bar input::-webkit-color-swatch-wrapper {
    padding: 0;
}

.edit-bar input::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}