.note-filter{
    max-width: 980px;
    margin:10px auto;
}

.note-filter input{
    /* width: 450px;
    max-width: 455px;
    height: 40px;
    border-radius:10px;
    margin-inline-end: 5px;
    padding: 5px;
    font-size: 1rem;
    border:2px solid black;
    font-family: 'Pangolin', cursive; */
    width: 500px;
    height: 40px;
    border-radius: 15px;
    margin-inline-end: 5px;
    padding: 5px;
    padding-left:10px ;
    font-size: 1rem;
    font-family: 'Pangolin', cursive;
    background-color: ghostwhite;
    outline: none;
    border:none;
    box-shadow: 1px 1px white

}

.note-filter select{
    max-width: 80px;
    height: 40px;
    border-radius: 15px;
    padding: 5px;
    font-size: 1rem;
    border: 1px solid ghostwhite;
    background-color: ghostwhite;

}