.note-item {
    width: 250px;
    height: max-content;
    font-size: 1rem;
    margin: 20px;
    box-shadow: 6px 4px #d4caca;
    border: 2px solid #d4caca;
    font-family: 'Pangolin', cursive;
    transition: all .3s;
    padding: 5px;
}

.note-item:hover{
    cursor: pointer;
    border: 5px solid #d4caca;
}

.note-item textarea {
    outline: none;
    border: none;
    margin: 10px;
    resize: none;
    background-color: transparent;
    font-family: 'Pangolin', cursive;
    font-size: 1rem;
}

.note-item i {
    cursor: pointer;
}

.note-txt-item .edited{
    align-self: flex-end;
    font-size: 0.7rem;
}





