.note-item {
    min-width: max-content;
    height: max-content;
    font-size: 1rem;
    margin: 20px;
    padding: 5px;
    box-shadow: 6px 4px #d4caca;
    border: 2px solid #d4caca;
    font-family: 'Pangolin', cursive;
    transition: all .3s;
}

.note-item:hover{
    cursor: pointer;
    outline: 4px solid black;
    transform: scale(1.03);
    /* border: 4px solid #d4caca; */
}

.note-item .pinned {
    margin:10px 10px 10px 0;
    border-radius: 50%;
    transition: all .3s;
}

.note-item .pinned:hover{
    transform: scale(1.1);
    transform: rotate(30deg);
}

/* TEXT-EDIT */
.note-item textarea {
    cursor: pointer;
    outline: none;
    border: none;
    margin: 10px;
    resize: none;
    background-color: transparent;
    font-family: 'Pangolin', cursive;
    font-size: 1rem;
}

.note-item i {
    cursor: pointer;
}

.note-txt-item .edited{
    align-self: flex-end;
    font-size: 0.7rem;
}





