.email-details{
    font-size: 1.1rem;
    font-family: roboto;
    height: max-content;
}
.details-btns{
    background-color: #fff;
}
.details-tools >*{
    cursor: pointer;
}
.details-tools >*:hover{
    transform: scale(1.15,1.15);
}
.details-btns{
    padding: 10px;
    border-top: 1px solid rgb(180, 180, 180);
    border-left: 1px solid rgb(180, 180, 180);
    border-right: 1px solid rgb(180, 180, 180);
}
.info-box{
    border-top: 1px solid rgb(180, 180, 180);
    border-left: 1px solid rgb(180, 180, 180);
    border-right: 1px solid rgb(180, 180, 180);
}
.email-body{
    border: 1px solid rgb(180, 180, 180);
    background-color: #fff;
}
.email-subject{
    font-size: 2rem;
}
.info-box{
    background-color: #fa9c00;
    color: white;
    padding: 10px;
}
.from-name{
    font-weight: bold;
}
.details-tools >*{
        margin: 0 5px;
}