.email-details{
    font-size: 1.1rem;
    font-family: roboto;
}
.details-tools >*{
    cursor: pointer;
}
.email-subject{
    font-size: 2rem;
}
.from-name{
    font-weight: bold;
}
.details-tools >*{
        margin: 0 5px;
}