.email-app {
    display: grid;
    margin: 0 20px;
    grid-template-columns: 0.1fr 0.9fr;
    grid-template-rows: 0.1fr 0.9fr;
    grid-template-areas: "fl fl fl fl fl" "sd sd  main main main ";
    justify-content: flex-start;
    height: 85vh;
    
}

.email-filter {
    grid-area: fl;
}

.email-sidebar {
    grid-area: sd;
    font-size: 1.3rem;
}

.email-main {
    grid-area: main;
}

.side-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
}