.email-compose{
    font-family: roboto;
    height: max-content;
}

.form-informer{
    color: red;
    text-align: right;
    font-weight: bold;
}
.email-compose input ,textarea, .new-email-body{
    font-family: roboto;
    color: black;
    cursor: text;
    border: none;
    border: 0;
    outline: none;
    resize: none;
}
.email-compose input{
    padding: 5px;
}
.new-email-body{
border: 1px solid rgb(180, 180, 180);
}
.general-details{
    border: 1px solid rgb(180, 180, 180);
    background-color: #fa9c00 ;
}
.general-details >*{
    background-color: #fa9c00 ;
}

.compose-btn{
    font-family: Passion One , cursive;
    font-size: 1.2rem;
    background-color: #fa9c00;
    outline: none;
    border:  none;
}
.compose-opt{
    background-color: #fff;
}
