.book-review {
    width: 100%;
}

.book-review section input, .book-review section label{
    padding:5px;
    margin:5px;
}

.book-review textarea{
    padding:2px;
    margin:10px;
}

.book-review .btn-submit-review,.book-review .btn-open-reviews{
    padding:5px;
    background-color: orange;
    color: white;
    font-family: 'Sriracha', cursive;
    border-radius: 10px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    outline: none;
    transition: transform .3s;
    margin:5px;
}
.book-review .btn-submit-review:hover, .book-review .btn-open-reviews:hover{
    transform: scale(1.1);
}